body{
    overflow-x: hidden;
}
.bg-container{
    width: 100%;
    height: 200vh;
    background: url(./bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
    overflow: auto;
}
.order_btn{
    background-color: yellow;
    border: yellow;
    padding: 8px 20px;
    font-weight: bold;
    border: solid 2px yellow;
    transition: background-color .3s;
}
.order_btn:hover{
    background-color: transparent;
    color: yellow;
}
.nav-style{
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    /* background-color: #fff; */
}
.padding{
    padding-top: 250px;
    font-weight: bold;
}
.heading-font{
    font-size: 3.5rem;
}
span{
    color: yellow;
}

h2{
    font-size: 2rem;
    color: rgb(71, 197, 71);
    margin-top: 30px;
}
p{
    color: white;
    font-weight: 480;
    
}
.change{
  margin-top:10px ;
  background-color: yellow;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  border: solid 2px yellow;
  transition: background-color .3s;
}
.change:hover{
    background-color: transparent;
    color: yellow;
}
.overlay{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 110px;
    background-color: white;
    transform: translateY(-100%);
    transition: transform .3s ease-in-out;
}
.show-overlay{
    transform: translate(0);
}
.btn1{
    background-color: white;
}

.btn4{
    padding: 15px 20px;
    border-color: yellow;
    background-color: yellow;
    border-radius: 15px;
}
.btn4:hover{
    background-color: transparent;
    color: yellow;
}
img{
    border-radius: 10px;
}

.btn5{
    margin-top: 10%;
    background-color: yellow;
    border-color: yellow;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10%;
}
img{
    background-color: white;
    height: 90%;
    margin-left: 10%;

}
.explore,h1{
    text-align: center;
    color: green;
}
.explore,p{
    text-align: center;
    color: rgb(238, 186, 113)

}
.slide{
    color: white;
}
.last{
    margin: 5% 0%;
    background-color: green;
    width: 100%;
}
.carousel-img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}













@media (max-width:414px){
    .bg-contaier{
        overflow: hidden;
    
    }
}
.img{
    object-fit: contain;
    width: 100%;
}
.mb-4{
    display: flex;
}
.inner-sty{
    height: 300px;
    background-color: #1E1D23;
    border-radius: 20px;
}
.colorr{
    background-color: #00a149;
    padding: 4rem 0;
}


@media(max-width:700px){
    .carousel-inner{
        margin-left: 10%;
    }
}
@media(max-width:700px){
    .bg-container{
    width: 100%;
    height: 120vh;
    background: url(./bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
       

    }
    container text-center{
        margin: 10%;
    }
    
    
    
}
